In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/MyDrive/marycris/CalIt2.csv'

In [4]:
df = pd.read_csv(filename)

In [5]:
df.head()

   7  07/24/05  00:00:00  0
0  9  07/24/05  00:00:00  0
1  7  07/24/05  00:30:00  1
2  9  07/24/05  00:30:00  0
3  7  07/24/05  01:00:00  0
4  9  07/24/05  01:00:00  0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10079 entries, 0 to 10078
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   7         10079 non-null  int64
 1   07/24/05  10079 non-null  object
 2   00:00:00  10079 non-null  object
 3   0         10079 non-null  int64
dtypes: int64(2), object(2)
memory usage: 315.1+ KB

In [7]:
df.describe().round(2)

             7         0
count  10079.0  10079.00
mean       8.0      3.81
std        1.0      6.44
min        7.0      0.00
25%        7.0      0.00
50%        9.0      0.00
75%        9.0      5.00
max        9.0     62.00